:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: white;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1e1e;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: auto;
  box-sizing: border-box;
  margin: 5px;
}

.top-box {
  /*border: 2px solid #ffffff;*/
  padding: 20px;
  box-sizing: border-box;
  height: 20vh;
  border-radius: 15px;
  background-color: #4F4F4F;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  height: 78vh;
  box-sizing: content-box;
}

.bottom-box {
  /*border: 2px solid #ffffff;*/
  flex: 1;
  display: flex;
  box-sizing: content-box;
  padding: 15px;
  margin-right: 15px;
  margin-top: 15px;
  overflow: auto;
  resize: none;
  border-radius: 15px;
  background-color: #4F4F4F;
  justify-content: center;
}

.editable-textarea {
  width: 99%;
  height: 96%;
  box-sizing: border-box;
  border: none;
  resize: none; /* Prevents resizing */
}

.bottom-box:nth-child(1) {
  flex: 1 1 5%;
}

.bottom-box:nth-child(2) {
  flex: 1 1 35%;
  overflow: auto;
}

.bottom-box:nth-child(3) {
  flex: 1 1 10%;
}

.bottom-box:nth-child(4) {
  flex: 1 1 10%;
  margin-right: 0;
}
