:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: white;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 97vh;
  box-sizing: border-box;
}

.top-box {
  border: 2px solid #000;
  padding: 20px;
  box-sizing: border-box;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
  box-sizing: content-box;
}

.bottom-box {
  border: 2px solid #000;
  flex: 1;
  box-sizing: content-box;
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  overflow: auto; /* Prevents content from changing the box size */
}

.bottom-box:nth-child(1) {
  flex: 1 1 5%;
}

.bottom-box:nth-child(2) {
  flex: 1 1 35%;
  /*overflow: auto;*/
}

.editable-textarea {
  width: 99%;
  height: 96%;
  box-sizing: border-box;
  border: none;
  resize: none; /* Prevents resizing */
}

.bottom-box:nth-child(3) {
  flex: 1 1 10%;
}

.bottom-box:nth-child(4) {
  flex: 1 1 10%;
  margin-right: 0%;
}
