.player-container {
    position: absolute;
    transform: scale(0.5);
    left: 130px;
    top: 45px;
}

.player-sprite {
    position: absolute;
    width: 160px;
    height: 160px;
    background-image: url('assets/PlayerSpriteSheet.png');
    background-position: 0 calc(-160px * 3);
    background-repeat: no-repeat;
    image-rendering: pixelated;
}